- if (problem.status === 'queued')
  .message
    | Your problem is queued up to run.
    a(href="/problem/"+problem.id+"/start") Start the Job

h2
  =problem.name
  span= problem.status
dl
  dt Map Function
  dd.js
    pre= problem.map_function
  dt Reduce Function
  dd.js
    pre= problem.reduce_function
  dt Input Data
  dd.js
    pre= JSON.stringify(problem.data)
  dt Results
  dd.js
    - if (problem.status === 'queued')
      | Your problem is queued up to run.
      a(href="/problem/"+problem.id+"/start") Start the Job
    - else if (problem.status === 'running')
      | Your job hasn't completed yet. Please wait until it finishes running
    - else
      pre= JSON.stringify(problem.data)