a(href="/jobs")
  | All
&bull;
a(href="/jobs/queued")
  | Queued

table(border="1")
  tr
    th Job Id
    th Problem Id
    th Algorithm
    th Input Data
    th Created At
    th Status
  - for (var idx in jobs)
    - var j = jobs[idx]
    tr
      td= j.id
      td= j.problem_id
      td= j.algorithm
      td= JSON.stringify(j.input)
      td= j.created_at
      td= j.status